.project {
  background-image: radial-gradient(circle at top right, #EE6047 14%, #FFFFFF 120%);
  padding-bottom: 0;
}

.project-header {
  background: transparent;
  display: flex;
  justify-content: flex-end;
  min-height: 300px;
  padding: 20px;
}

.project-title {
  flex: 0 0 65%;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 800;
}

.project-section {
  background: white;
  padding: 50px 50px;
}

.project-section h2 {
  font-style: italic;
  text-transform: uppercase;
  text-decoration: underline;
}
